@using project_ecommerce_admin.DTOs.Product;
@model ProductEditViewDto;

@{
    ViewData["Title"] = "Edit Product";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-link">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Product" asp-action="Index" class="breadcrumb-link">Products</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
    </ol>
</nav>
<!-- Body -->
<div class="product-info mt-4">
    <div class="row">
        <div class="col-9">
            <div class="bg-white product-info__block">
                <!-- Header -->
                <div class="product-info__step row">
                    <div class="product-info__step--item product-step__header--1 col" onclick="showStep(1)">
                        <div class="product-info__text">
                            <span class="text-uppercase">Step 1</span>
                            <p>Overview</p>
                        </div>
                    </div>

                    <div class="product-info__step--item product-step__header--2 col" onclick="showStep(2)">
                        <div class="product-info__text">
                            <span class="text-uppercase">Step 2</span>
                            <p>Descriptions</p>
                        </div>
                    </div>

                    <div class="product-info__step--item product-step__header--3 col" onclick="showStep(3)">
                        <div class="product-info__text">
                            <span class="text-uppercase">Step 3</span>
                            <p>Pricing</p>
                        </div>
                    </div>
                </div>
                <!-- Body -->
                <div class="product-info__body">
                    <!-- Step 1 -->
                    <div class="product-info__step--body product-step__body--1">
                        <!-- Name -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Product Name
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="input-group">
                                    <input id="product-name" type="text" class="form-control fs-4 fw-semibold"
                                           placeholder="Enter product name" value="@Model.ProductDto.Name">
                                </div>
                            </div>
                        </div>
                        <!-- Image -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Product Images
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">
                                        <input id="product-images" class="form-control fs-4" type="file" multiple>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary fs-4" onclick="uploadProductImage()">Upload</button>
                                    </div>
                                </div>
                                <div class="product-info__image mt-3 d-flex align-items-center flex-wrap gap-3">
                                </div>
                            </div>
                        </div>
                        <!-- Brand -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Brand
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-4">
                                        <select id="product-brand" class="form-select fs-4">
                                            <option value="0" selected>Select brand</option>
                                            @foreach (var brand in Model.Brands)
                                            {
                                                if(Model.ProductDto.Brand.Id == brand.Id)
                                                {
                                                    <option value="@brand.Id" selected>@brand.Name</option>
                                                } else
                                                {
                                                    <option value="@brand.Id">@brand.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Category -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Category
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">
                                        <select id="product-category__1" class="form-select fs-4" onchange="updateCategory(this, 'product-category__2')">
                                            <option value="0" selected>Select category</option>
                                            @foreach (var category in Model.CategoriesLv1)
                                            {
                                                @* Get categoryId level 2 of product current *@
                                                var categoryIdLv2 = "";
                                                @foreach (var category2 in Model.CategoriesLv2)
                                                {
                                                    if (category2.Id.ToString().Equals(Model.ProductDto.Category.CategoryId)
                                                    && category.Id.ToString().Equals(category2.CategoryId))
                                                                                    {
                                                        categoryIdLv2 = category2.CategoryId;
                                                        break;
                                                    }
                                                }
                                                
                                                if(category.Id.ToString().Equals(categoryIdLv2))
                                                {
                                                    <option value="@category.Id" selected>@category.Name</option>
                                                } else
                                                {
                                                    <option value="@category.Id">@category.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="col">
                                        <select id="product-category__2" class="form-select fs-4" onchange="updateCategory(this, 'product-category__3')">
                                            @foreach (var category in Model.CategoriesLv2)
                                            {
                                                if(category.Id.ToString().Equals(Model.ProductDto.Category.CategoryId))
                                                {
                                                    <option value="@category.Id" selected>@category.Name</option>
                                                } else
                                                {
                                                    <option value="@category.Id">@category.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="col">
                                        <select id="product-category__3" class="form-select fs-4" onchange="updateCategory(this, null)">
                                            @foreach (var category in Model.CategoriesLv3)
                                            {
                                                if (category.Id.Equals(Model.ProductDto.Category.Id))
                                                {
                                                    <option value="@category.Id" selected>@category.Name</option>
                                                } else
                                                {
                                                    <option value="@category.Id">@category.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Color -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Product Color
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col">
                                                <div class="input-group">
                                                    <input type="text" id="name-color"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Name">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="input-group">
                                                    <input type="text" id="price-color"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Price">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="input-group">
                                                    <input type="text" id="quantity-color"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Quantity">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <button class="btn btn-primary fs-4 w-100"
                                                onclick="addColor()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <!-- List Color -->
                                <div class="product-info__color--list product-info__scroll mt-4">
                                    <table class="table product-info__color--table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fw-bold">#</th>
                                                <th scope="col" class="fw-bold">Color Name</th>
                                                <th scope="col" class="fw-bold">Price</th>
                                                <th scope="col" class="fw-bold">Quantity</th>
                                                <th scope="col" class="fw-bold">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Option -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Product Option
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col-4">
                                                <select id="product-info__option--type"
                                                        class="form-select fs-4">
                                                    <option selected value="dungluong">Dung lượng</option>
                                                    <option value="tinhtrang">Tình trạng</option>
                                                </select>
                                            </div>

                                            <div class="col-4">
                                                <select id="product-select__color--option"
                                                        class="form-select fs-4">
                                                </select>
                                            </div>

                                            <div class="col-4">
                                                <div class="input-group">
                                                    <input type="text" id="option-value"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Value">
                                                </div>
                                            </div>

                                            <div class="col-4 mt-3">
                                                <div class="input-group">
                                                    <input type="text" id="price-option"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Price">
                                                </div>
                                            </div>

                                            <div class="col-4 mt-3">
                                                <div class="input-group">
                                                    <input type="text" id="quantity-option"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Quantity">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <button class="btn btn-primary fs-4 w-100"
                                                onclick="addOption()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <!-- List Option -->
                                <div class="product-info__option--list product-info__scroll mt-4">
                                    <table class="table product-info__option--table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fw-bold">Type</th>
                                                <th scope="col" class="fw-bold">Value</th>
                                                <th scope="col" class="fw-bold">Price</th>
                                                <th scope="col" class="fw-bold">Quantity</th>
                                                <th scope="col" class="fw-bold">Color</th>
                                                <th scope="col" class="fw-bold">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Address shop -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Product Address
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col-4">
                                                <select id="product-info__address--color"
                                                        class="form-select fs-4"
                                                        onchange="onChangeProductAddressColorSelect('product-info__address--option', this)">
                                                    <option selected value="0">Select color</option>
                                                    @foreach(var color in Model.ProductDto.Colors)
                                                    {
                                                        <option value="@color.Id">@color.Name</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="col-4">
                                                <select id="product-info__address--option"
                                                        class="form-select fs-4">
                                                    <option selected value="0">Select option</option>
                                                </select>
                                            </div>

                                            <div class="col-4">
                                                <select id="product-info__address--shop"
                                                        class="form-select fs-4">
                                                    <option value="0">Select address shop</option>
                                                    @foreach (var address in Model.AddressShops)
                                                    {
                                                        <option value="@address.Id">@address.Address</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="col-4 mt-3">
                                                <div class="input-group">
                                                    <input type="text" id="product-info__address--quantity"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Quantity">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <button class="btn btn-primary fs-4 w-100"
                                                onclick="addProductAddress()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <!-- List Product Address -->
                                <div class="product-info__address--list product-info__scroll mt-4">
                                    <table class="table product-info__address--table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fw-bold">Color</th>
                                                <th scope="col" class="fw-bold">Type</th>
                                                <th scope="col" class="fw-bold">Value</th>
                                                <th scope="col" class="fw-bold">Quantity</th>
                                                <th scope="col" class="fw-bold">Address Shop</th>
                                                <th scope="col" class="fw-bold">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Property -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Product Properties
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col">
                                                <div class="input-group">
                                                    <input type="text" id="property-name"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Name">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="input-group">
                                                    <input type="text" id="property-value"
                                                           class="form-control fs-4 fw-semibold"
                                                           placeholder="Value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <button class="btn btn-primary fs-4 w-100"
                                                onclick="addProperty()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <!-- List Property -->
                                <div class="product-info__property--list product-info__scroll mt-4">
                                    <table class="table product-info__property--table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="fw-bold">#</th>
                                                <th scope="col" class="fw-bold">Property Name</th>
                                                <th scope="col" class="fw-bold">Property Value</th>
                                                <th scope="col" class="fw-bold">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Step 2 -->
                    <div class="product-info__step--body product-step__body--2">
                        <textarea name="description" id="product-description" cols="30" rows="10" class="w-100" placeholder="Description">
                            @Model.ProductDto.Description
                        </textarea>
                    </div>
                    <!-- Step 3 -->
                    <div class="product-info__step--body product-step__body--3">
                        <!-- Price / Discount -->
                        <div class="row mb-5">
                            <div class="col-4">
                                <h2 class="product-info__title lv-2">
                                    Product Price / Discount
                                    <span class="text-danger">*</span>
                                </h2>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group">
                                            <input type="text" id="product-price" class="form-control fs-4 fw-semibold"
                                                   placeholder="Enter Product Price" value="@Model.ProductDto.Price">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <input type="text" id="product-discount" class="form-control fs-4 fw-semibold"
                                                   placeholder="Enter Product Discount" value="@Model.ProductDto.Discount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <!-- Preview -->
            <div class="bg-white product-info__block">
                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="product-info__title lv-2">Product Preview</h2>
                    <button class="text-decoration-underline" onclick="displayProductPreview()">Show preview</button>
                </div>
                <!-- Preview content -->
                <div class="product-info__preview mt-4">
                </div>
            </div>
            <!-- Publish -->
            <div class="bg-white product-info__block mt-4">
                <h2 class="product-info__title lv-2">Visibility</h2>
                @if(Model.ProductDto.Publish == true)
                {
                    <div class="form-check pt-4">
                        <input class="form-check-input" value="publish" type="radio" name="product-visibility" id="publish" checked>
                        <label class="form-check-label mt-2" for="publish">
                            Publish
                        </label>
                    </div>
                    <div class="form-check pt-2">
                        <input class="form-check-input" value="hidden" type="radio" name="product-visibility" id="hidden">
                        <label class="form-check-label mt-2" for="hidden">
                            Hidden
                        </label>
                    </div>
                } else
                {
                    <div class="form-check pt-4">
                        <input class="form-check-input" value="publish" type="radio" name="product-visibility" id="publish">
                        <label class="form-check-label mt-2" for="publish">
                            Publish
                        </label>
                    </div>
                    <div class="form-check pt-2">
                        <input class="form-check-input" value="hidden" type="radio" name="product-visibility" id="hidden" checked>
                        <label class="form-check-label mt-2" for="hidden">
                            Hidden
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="product-info__footer bg-white">
    <div class="block-actions">
        <a asp-controller="Product" asp-action="Index" class="btn btn-cancel">Cancel</a>
        @* <a asp-controller="Product" asp-action="CreateProductPost" asp-route-product="@Model" class="btn btn-save">Save</a> *@
        <button id="saveButton" class="btn btn-save">Save</button>
    </div>
</div>

<script src="~/js/product.js" asp-append-version="true"></script>
<script type="text/javascript" language="javascript">
    // Serialize the Model object to JSON
    const data = @Html.Raw(Json.Serialize(Model));
    productColors = data.productDto.colors;
    productOptions = data.productDto.options;
    productImages = data.productDto.images;
    productProperties = data.productDto.properties;
    productId = data.productDto.id;
    productImageActive = data.productDto.defaultImage;
    // Get data product shop address
    data.productDto.productShops.forEach(item => {
        productAddressShops.push({
            optionId: item.optionId,
            addressShopId: item.addressShopId,
            quantity: item.quantity,
            colorName: item.option.color.name,
            type: item.option.name,
            value: item.option.value,
            address: item.addressShop.address
        });
    });
    // Display data
    displayProductImage(productImages);
    displayProductColor(productColors);
    displayProductOptionTable(productOptions);
    displayProductAddressTable(productAddressShops);
    displayProperties(productProperties);
    displayProductPreview();
    console.log(data);

    // Display select option category
    function displayCategorySelect(selectId, categoriesData) {
        if (selectId === null) return;

        const selectElement = document.getElementById(selectId);
        selectElement.innerHTML = '';

        if (categoriesData !== null) {
            selectElement.innerHTML += '<option value="0">Select category</option>';

            categoriesData.forEach(category => {
                const html = `
                    <option value="${category.id}">${category.name}</option>
                `;
                selectElement.innerHTML += html;
            })
        }
    }

    // Handle when onchange select category
    function updateCategory(e, selectId) {
        const categoryId = e.value;

        if (categoryId !== '0') {
            // Call ajax get category
            $.ajax({
                url: '@Url.Action("GetCategoryById", "Product")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(categoryId),
                success: function (result) {
                    displayCategorySelect(selectId, result);
                },
                error: function (xhr, status, error) {
                    console.log(xhr, status, error);
                }
            });
        } else {
            displayCategorySelect(selectId, null);
        }
    }

    $(document).ready(function () {
        // Using ajax pass data object to controller
        $('#saveButton').click(function () {
            const productData = getInfoProduct();
            console.log(productData);
            $.ajax({
                url: '@Url.Action("EditProductPost", "Product")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(productData),
                success: function (result) {
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    console.log(xhr, status, error);
                }
            });
        });
    });
</script>